# Visual Studio
.vs
packages
bin


# Built files

XDaggerMinerManager/bin
XDaggerMinerManager/obj
Updater/bin
Updater/obj
XDaggerMinerAssistant/bin
XDaggerMinerAssistant/obj


# Service

InstallUtil.InstallLog



